
body{
  background: white ;
}
h1 {
  font-size: 40px;
  color: white;
}
.delete {
  margin-left: 20px;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
}
.delete:hover{
  color: white;
}
.data-title {
  cursor: pointer;
  font-size: 24px;
}


.card{
  height: 450px;
  overflow: scroll;
}
#fav:hover{
  color:blue;
}

#summary{
  position:relative;
  top:-15px;
}
.featured{
  height: 100px;
}
img#article{
  left: 20px;
  float:right;
  max-width: 250px;
  padding:20px;
}
#wrapper{
  display:inline-block;
  min-height: 100%;
  max-height: 750px;
  width: 500px;
  margin: 20px 0px;
}
.save:hover{
  color: #F6C045 !important;
}
.full{
  position: relative;
  top: 20px;
  left: -15px;
}
.logo{
  max-width: 100%;
}
#wrapper.activated{
  width: 100%;
}
@media screen and (max-width:750px){
    #wrapper{
      width: 100%;
    }
    img#article{
      left: 0px;
      margin: 0px auto;
      width: 100%;
      max-width: inherit;
    }
}